 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>On The Run Optical was created to provide a mobile service that will come to your home or office and bring professional service straight to you without breaking the bank. By keeping overhead low we can pass the savings on to you.</p>
                </div>
                <div class="col-lg-4">
                    <p>We offer some of the lowest online prices, but without the risk of improper fitting eyewear or critical measurements taken by looking in to a mirror, using a credit card, or any of the other gimmicks. With our service we use the latest technology in measuring devices to provide the most accurate prescriptions possible.</p>
                </div>
            </div>
        </div>
    </section>
