    <section class="success" id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>FAQ</h2>
            <hr class="star-light">
          </div>
        </div>

        <div class="row faq">
          <div class="col-md-6 col-md-offset-3">
            <p class="question">How does On The Run Optical work?</p>
            <p class="answer">You can call or fill out the form on our website. We then agree on a convenient time and location and arrive with the frames for you to chose from.</p>

            <p class="question">Do I need a prescription is required?</p>
            <p class="answer">You will need unexpired prescription.</p>

            <p class="question">Do I get a discount if I buy more then one pair?</p>
            <p class="answer">The more you buy the greater the discount and we also have family discounts.</p>

            <p class="question">Do I need a prescription is required?</p>
            <p class="answer">You will need unexpired prescription.</p>

            <p class="question">When my glasses are ready how will they be delivered?</p>
            <p class="answer">You will receive a a call or email when your glasses are ready. We can then coordinate the best time and place to receive your glasses.</p>

            <p class="question">Can I use my own frame?</p>
            <p class="answer">Absolutely!! Used frames will have to be inspected to make sure they are in good shape.</p>

            <p class="question">Does On The Run Optical take insurance?</p>
            <p class="answer">We are considered an out-of-network provider. This means you pay for the glasses initially and we will submit a reimbursement claim to your insurance company.Your will receive a check from your insurance company.</p>

            <p class="question">Do you take major credit cards?</p>
            <p class="answer">We are set up for all major credit cards,checks and cash. You can even use your health spending account.</p>

            <p class="question">Are you competitively priced?</p>
            <p class="answer">We are not a discount company, but because of our low overhead we can pass the savings on to you.</p>
          </div>
      </div>
    </section>
